<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Edit Profile</title>
</head>
<body id="my-background">

    <div id="background-container"></div>

    <div class="nav3 flex justify-between items-center py-4 px-8 bg-red-400 text-white border-b-2 border-black">
        <h1 class="text-5xl font-bold">Update Current Status</h1>
        <a href="/dashboard" class="button bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Dashboard</a>
    </div>
    
    <div class="container mx-auto text-red-500">
        <div class="max-w-3xl bg-yellow-200 rounded-lg p-8 border-2 border-black mx-auto  mt-8">
            <div class="title text-center text-4xl text-blue-500 font-bold mt-3">What are you up to currently?</div>
            <div class="subtitle text-center text-3xl text-red-500 font-bold mt-3">Let your friends know!</div>
            <div class="subtitle text-center text-xl text-gray-400 font-bold mt-3">(Your last status is pre-populated below.)</div>
            <form action="/status/update/{{ user.id }}" method="post">
                <div class="input-box my-4">
                    <textarea name="status" placeholder="Enter your new status" class="border border-gray-300 p-2 rounded-md w-full">{{ user.status }}</textarea>
                </div>

                <div class="button text-center mt-8">
                    <input type="submit" value="Update Status" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                </div>
            </form>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta/dist/vanta.fog.min.js"></script>
    <script>
        VANTA.FOG('#background-container')
    </script>

</body>
</html>
